footer {
	margin: 80px 0 0 0;
	background: #444B58;
	color: white;
}

.footer-container {
	flex-flow: row;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 28px 0;
}

.footer-container h2 {
	color: #FFF;
	font-family: Intro Bold;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 75%;
}

.footer-container ul {
	flex-flow: row;
	display: flex;
	list-style-type: none;
	gap: 40px;
}

.footer-container ul,
.footer-container li {
	font-family: Intro Book;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 90%;
}

@media (width < 1300px) {
	.footer-container h2 {
		font-size: 25px;
	}

	.footer-container ul {
		gap: 30px;
	}

	.footer-container p,
	.footer-container ul,
	.footer-container li {
		font-size: 13px;
	}
}

@media (width < 1000px) {
	footer {
		margin: 60px 0 0 0;
	}

	.footer-container h2 {
		font-size: 18px;
	}

	.footer-container ul {
		gap: 15px;
	}

	.footer-container p,
	.footer-container ul,
	.footer-container li {
		font-size: 9px;
	}
}

@media (width < 700px) {
	.footer-container{
		flex-flow: column;
		align-items: start;
		padding: 20px;
		gap: 20px;
	}

	.footer-container ul{
		flex-flow: wrap;
		align-items: center;
		justify-content: center;
	}

	.footer-container h2 {
		font-size: 20px;
		text-align: center;
		width: 100%;
	}

	.footer-container ul {
		gap: 20px;
	}

	.footer-container p,
	.footer-container ul,
	.footer-container li {
		font-size: 13px;
	}
}